<footer class="w3-row w3-light-gray w3-container w3-padding-16" style={ {alignItems: 'center', display: 'flex'} }>
    <div class="w3-half w3-center">
        <h1 class="fs-2">Síguenos en redes</h1>
    </div>
    <div class="w3-half w3-center">
        <a class="w3-hover-text-black w3-padding-small" href="#">
            <i class="fa-brands fa-square-facebook fa-2x"></i>
        </a>
        <a class="w3-hover-text-black w3-padding-small" href="#">
            <i class="fab fa-instagram-square fa-2x"></i>
        </a>
    </div>
</footer>

<style>

    footer > div > a {
        text-decoration:    none;
    }

</style>