---
import Layout from "@layouts/Layout.astro";
import PlanStarter from "@components/PlanStarter/index.astro";
---

<Layout title="Restaurantes | Plan Starter" description="El plan para iniciar tu negocio">
    <main>
        <div class="w3-content">
            <PlanStarter/>
        </div>
    </main>
</Layout>

<style>

    main {
		display:			flex;
		flex-direction:		column;
		justify-content:	center;
	}
    
	main > div {
        width:				100%;
    }

</style>