---
import Layout from "@layouts/Layout.astro";
import PlanBasic from "@components/PlanStarter/index.astro";
---

<Layout>
    <main>
        <div class="w3-content">
            <PlanBasic/>
        </div>
    </main>
</Layout>

<style>

    main {
		display:			flex;
		flex-direction:		column;
		justify-content:	center;
	}
    
	main > div {
        width:				100%;
    }

</style>