---

//import plans from "@assets/data/plans.data.json";
import { getCollection } from "astro:content";
const plans = await getCollection('plans');
const basicCategory = plans.find(plan => plan.data.nickName === "starter")?.data.paths.sections;

---

<h1 class="w3-center w3-xxlarge w3-padding-large">Plan Starter</h1>
<div>
    {
        basicCategory.map(({name, param, image}) => (
            <article class="w3-card">
                <h2>{name}</h2>
                <a href={param}></a>
            </article>
        ))
    }
</div>

<style>

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    article {
        position: relative;
    }

    article > a {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        text-decoration: none;
    }

</style>