---

//import plans from "@assets/data/plans.data.json";
import sImages from "@/lib/importSiteImages.js";
import psImages from "@/lib/importPSImages.js";
import { getCollection } from "astro:content";
const plans = await getCollection('plans');
const basicCategory = plans.find(plan => plan.data.nickName === "starter")?.data.paths.sections;

console.log('psImages: ', psImages)

---

<h1 class="w3-center w3-xxlarge w3-padding-large">Plan Starter</h1>
<div class="w3-row">
    {
        basicCategory.map(({name, param, image}) => {
            const imageSrc = psImages[image]
            ? psImages[image].src
            : sImages['placeholderWeb'].src;
            return (
                <a class="w3-col s3 w3-padding-small" href={param}>
                    <figure class="w3-card">
                        <img src={imageSrc} alt={name ? name : 'Sin Título'} width="640px" height="auto" />
                        <figcaption>{name}</figcaption>
                    </figure>
                </a>
            )
        })
    }
</div>

<style>

    div > a > figure > img {
        width:          100%;
        aspect-ratio:   1 / 1;
        object-fit:     cover;
    }

</style>