---

import BaseHead from "@components/base/BaseHead.astro";
const siteTitle = 'Restaurantes | Proyectos | Alex Estudio 86';
const siteDescription = 'Descubre nuestros proyectos de diseño para restaurantes, parte de nuestra cartera en [Nombre de tu Sitio].';

---


<html lang="es">
	<BaseHead title={siteTitle} description={siteDescription} />
	<body>
		<h1>Astro</h1>
	</body>
</html>
