---

import BHead from "@components/base/BHead/index.astro";
import BNavbar from "@components/base/BNavbar/index.astro";
import BFooter from "@components/base/BFooter/index.astro";

---

<html lang="es">
  <head>
    <BHead title='Restaurantes' description='El mejor sitio de Restaurantes' />
  </head>
  <body>
    <BNavbar />
    <slot />
    <BFooter />
  </body>
</html>


<style>

  body {
    display:                grid;
    min-height:             100dvh;
    grid-template-rows:     auto 1fr auto;
  }

</style>