---

import SHead from "@components/site/SHead/index.astro";
import SNavbar from "@components/site/SNavbar/index.astro";
import SFooter from "@components/site/SFooter/index.astro";
const { title, description } = Astro.props;

---

<html lang="es">
  <head>
    <SHead title={title} description={description} />
  </head>
  <body>
    <SNavbar />
    <slot />
    <SFooter />
  </body>
</html>


<style>

  body {
    display:                grid;
    min-height:             100dvh;
    grid-template-rows:     auto 1fr auto;
  }

</style>